/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Leaflet Library Style*/
@import "~leaflet/dist/leaflet.css";

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-popup-content {
  text-align: center;
}

.leaflet-touch .leaflet-bar {
  display: none !important;
}

/** Custom Style **/
@font-face {
  font-family: 'KUFI';
  src: url('./assets/fonts/Droid_Arabic_KUFI/DroidKufi-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'KUFI Bold';
  src: url('./assets/fonts/Droid_Arabic_KUFI/DroidKufi-Bold.ttf');
  font-weight: 700;
}

* {
  font-family: 'KUFI', sans-serif !important;
  direction: rtl;
  text-align: right;
  letter-spacing: 0;
}

ion-card-title {
  font-family: 'KUFI Bold', sans-serif !important;
}

ion-popover {
  --width: auto;
}

.fw-bold {
  font-weight: bold;
}
